# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime files
pids
*.pid
*.pid.lock
*.seed
tmp/
temp/
.cache/

# Dependency directories
/.pnp
.pnp.js

# Build output
dist/
build/

# Coverage
coverage/
.nyc_output/

# Environment variables
.env
.env.local
.env.*.local

# Test results
test-results.xml

# Editor directories and IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Misc
.eslintcache
.parcel-cache/
*.tgz
